* {
    margin:0;
    padding: 0;
}

.typedIntro {
    font-size: 3em;
    text-align: center;
}

/*.container {*/
/*    position: relative;*/
/*}*/
.confine {
    position: relative;
}
.textBubbleGrey1 {
    z-index: 10;
    transform: translate(60%,160%);
    width: 20%;
    position: absolute;
}

.textHomeGrey1 {
    z-index: 10;
    font-size: 1.4vw;
    position: absolute;
    transform: translate(550%,750%);
}

.gravestone {
    z-index: 3;
    position: absolute;
    transform: translate(300%,100%);
    width: 14%;
    /*height: 1vh;*/
}

.grey1 {
    z-index: 10;
    position: absolute;
    transform: translate(20%,45%);
    width: 10%;
}

.person1 {
    z-index: 10;
    position: absolute;
    transform: translate(20%,45%);
    width: 10%;
}

